<!doctype html>
<html lang="pt-BR">

  {% include head.html %}
  {% include header.html %}
  {% include script.html %}

  <body>
    <!-- Begin #carousel-section -->
    <section id="carousel-section" class="section-global-wrapper"> 
        <div class="container-fluid-kamn">
            <div class="row">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-lg">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <!-- <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                        <li data-target="#carousel-1" data-slide-to="5"></li>
                        <li data-target="#carousel-1" data-slide-to="6"></li>
                        <li data-target="#carousel-1" data-slide-to="7"></li>
                        <li data-target="#carousel-1" data-slide-to="8"></li>
                        <li data-target="#carousel-1" data-slide-to="9"></li>-->
                    </ol>
        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Begin Slide 1 -->
                         <div class="item active">
                            <img src="../assets/img/slider/Blog1.png" height="400" alt="Image of first carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Diversas Cores</h3>
                                <p class="carousel-body">Natureza Majestosa,Inspiradora e Necessária.</p>
                            </div>
                        </div>
                        <!-- End Slide 1 -->

                        <!-- Begin Slide 2 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog2.png" height="400" alt="Image of second carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Diversas Espécies</h3>
                                <p class="carousel-body">Serena e Intrigante.</p>
                            </div>
                        </div>
                        <!-- End Slide 2 -->

                        <!-- Begin Slide 3 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog10.png" height="400" alt="Image of third carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Beleza Minimalista</h3>
                                <p class="carousel-body">Vital e Renovável, Equilibrada e Diversa.</p>
                            </div>
                        </div>
                        <!-- End Slide 3 -->
                        
                        <!-- Begin Slide 4 -->
                        <div class="item">
                            <img src="../assets/img/slider/Blog4.png" height="400" alt="Image of four carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Única</h3>
                                <p class="carousel-body">Terapêutica e Complexa.</p>
                            </div>
                        </div>
                        <!-- End Slide 4 -->

                        <!-- Begin Slide 5 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog5.png" height="400" alt="Image of five carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Linda</h3>
                                <p class="carousel-body">Preciosa Harmonia, Sustentável e Sublime.</p>
                            </div>
                        </div>
                        <!-- End Slide 5 -->

                        <!-- Begin Slide 6 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog6.png" height="400" alt="Image of six carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Multipla</h3>
                                <p class="carousel-body">Interconectada, Renova.</p>
                            </div>
                        </div>
                        <!-- End Slide 6 -->
                        
                        <!-- Begin Slide 7 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog7.png" height="400" alt="Image of seven carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Natureza Majestosa</h3>
                                <p class="carousel-body">Milagrosa Fragilidade,</p>
                            </div>
                        </div>
                        <!-- End Slide 7 -->

                        <!-- Begin Slide 8 -->
                          <div class="item">
                            <img src="../assets/img/slider/Blog8.png" height="400" alt="Image of eight carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">Obra de Deus</h3>
                                <p class="carousel-body">Fonte de vida.</p>
                            </div>
                        </div>
                        <!-- End Slide 8 -->

                        <!-- Begin Slide 9 -->
                      <!--  <div class="item">
                            <img src="../assets/img/slider/Blog9.png" height="400" alt="Image of nine carousel">
                            <div class="carousel-caption">
                                <h3 class="carousel-title hidden-xs">MULTI-PURPOSE TEMPLATE</h3>
                                <p class="carousel-body">PORTFOLIO \ CORPORATE \ CREATIVE</p>
                            </div>
                        </div>
                        <!-- End Slide 9 -->
                    </div>
        
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-1" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h3 class="services-header-title">Nossa Missão</h3>
                    <p class="services-header-body"><em> Tornar a vida mais bela! </em>  </p><hr>
                </div>
            </div>
      
      
            <!-- Begin Services Row 1 -->
            <div class="row services-row services-row-head services-row-1">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="item"><img src="../assets/img/slider/icon1.png" height="90" alt="icon1"></p>
                        <h4 class="services-title">Suculentas</h4>
                        <p class="services-body">A beleza das suculentas é como a natureza em miniatura, onde a vida floresce em formas e cores surpreendentes.</p>
                        <p class="services-more"><a href="https://florverde.github.io/suculentas.html">Clique Aqui e Veja Nossas Suculindas</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="item"><img src="../assets/img/slider/icon2.png" height="90" alt="icon1"></p>
                        <h4 class="services-title">Cactos</h4>
                        <p class="services-body">A beleza dos cactos é um deserto de espinhos que floresce em mistérios, desafiando o árido com sua intrigante exuberância.</p>
                        <p class="services-more"><a href="https://florverde.github.io/cactos.html">Clique Aqui e Veja Nossos Cactos</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="item"><img src="../assets/img/slider/icon3.png" height="90" alt="icon1"></p>
                        <h4 class="services-title">Arranjos</h4>
                        <p class="services-body">Em um arranjo, a beleza se revela na diversidade das formas e na harmonia das cores, como um pequeno deserto em sua própria obra de arte.</p>
                        <p class="services-more"><a href="https://florverde.github.io/suculentas.html">Clique Aqui e Inpire-se com Nossos Arranjos!</a></p>
                    </div>        
                </div>
            </div>
            <!-- End Serivces Row 1 -->
      
            <!-- Begin Services Row 2 -->
          <!--  <div class="row services-row services-row-tail services-row-2">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInLeft" data-wow-offset="40">
                        <p class="services-icon"><span class="fa fa-windows fa-5x"></span></p>
                        <h4 class="services-title">Jardinagem</h4>
                        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated zoomIn" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-eye fa-5x"></i></p>
                        <h4 class="services-title">RETINA READY</h4>
                        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="services-group wow animated fadeInRight" data-wow-offset="40">
                        <p class="services-icon"><i class="fa fa-cube fa-5x"></i></p>
                        <h4 class="services-title">Cubic</h4>
                        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
                        <p class="services-more"><a href="#">Find Out More</a></p>
                    </div>
                </div>
            </div>-->
            <!-- End Serivces Row 2 -->
    
        </div>      
    </section>
    <!-- End #services-section -->

  </body>

  {% include footer.html %}
</html>
